@import 'tailwindcss';
:root {
  --primary: #fff;
  --secondary: #424040;
  /* --primary: #313050;
--secondary: #f8c7c3; */
}
* {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary);
  width: 100dvw;
  color: var(--secondary);
  overflow-x: hidden;
}
#hero-section {
  font-family: 'Bricolage Grotesque"', sans-serif;
}
